Repository tlsfuzzer/tlsfuzzer, pull requests merged in 2018-09, with the labels that each got.

#451 Check if some random values provided by server do not repeat
  scripts/test-dhe-key-share-random.py
  scripts/test-ecdhe-rsa-key-share-random.py
  scripts/test-serverhello-random.py
  scripts/test-tls13-serverhello-random.py
  scripts/test-tls13-signature-algorithms.py
  tests/test_tlsfuzzer_helpers.py
  tests/test_tlsfuzzer_messages.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
  tlsfuzzer/expect.py
  tlsfuzzer/helpers.py
  tlsfuzzer/messages.py
Labels: enhancement

#445 add test-script for crfg curves
  scripts/test-tls13-crfg-curves.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#453 New tests with large sig_algs list
  scripts/test-signature-algorithms.py
  scripts/test-tls13-signature-algorithms.py
Labels: new test script

#462 Don't create empty extension on missing autohandler
  scripts/test-encrypt-then-mac-renegotiation.py
  scripts/test-extended-master-secret-extension-with-client-cert.py
  scripts/test-extended-master-secret-extension.py
  scripts/test-large-number-of-extensions.py
  tests/test_tlsfuzzer_helpers.py
  tests/test_tlsfuzzer_messages.py
  tests/tlslite-ng.json
  tlsfuzzer/helpers.py
  tlsfuzzer/messages.py
Labels: bug

#463 fix requirements for python-2.6 build
  build-requirements-2.6.txt
Labels: maintenance

#461 add test-script with invalid key-share extension
  README.md
  requirements.txt
  scripts/test-tls13-keyshare-omitted.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#465 test-script for invalid ciphers in tls13
  scripts/test-tls13-invalid-ciphers.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script
