Repository tlsfuzzer/tlsfuzzer, pull requests merged in 2019-08, with the labels that each got.

#566 conversation: add support for (EC)DHE key exchange
  scripts/test-conversation.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: enhancement, new test script

#565 More cbc tests (CVE-2012-2333)
  scripts/test-fuzzed-plaintext.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: enhancement, new test script

#567 scripts/test-tls13-0rtt-garbage.py: add support for (EC)DHE key exchange
  scripts/test-tls13-0rtt-garbage.py
Labels: enhancement, maintenance

#571 sslv2hello-protocol: add support for DHE/ECDHE ciphers
  scripts/test-sslv2hello-protocol.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: maintenance

#572 OCSP stapling dhe
  scripts/test-ocsp-stapling.py
  tests/test_tlsfuzzer_expect.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
  tlsfuzzer/expect.py
Labels: enhancement, new test script

#570 certificate-verify: add support for DHE/ECDHE key exchange
  scripts/test-certificate-verify.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: maintenance
