Repository tlsfuzzer/tlsfuzzer, pull requests merged in 2019-09, with the labels that each got.

#575 test-encrypt-then-mac-renegotiation: fix exts
  scripts/test-encrypt-then-mac-renegotiation.py
Labels: bug

#574 fallback-scsv: add support for DHE/ECDHE ciphersuites
  scripts/test-fallback-scsv.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#578 alpn-negotiation: add support for (EC)DHE key exchange
  scripts/test-alpn-negotiation.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: maintenance

#561 add test to verify that the server does not support TLS 1.3
  scripts/test-tls13-non-support.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#585 Large records
  scripts/test-SSLv3-padding.py
  scripts/test-atypical-padding.py
Labels: enhancement, new test script

#559 test-signature-algorithms: extend test of unique, well-known sigalgs
  scripts/test-signature-algorithms.py
  scripts/test-tls13-signature-algorithms.py
Labels: new test script

#592 add heartbeat test (and heartbleed CVE-2014-0160)
  README.md
  requirements.txt
  scripts/test-heartbeat.py
  scripts/test-no-heartbeat.py
  tests/test_tlsfuzzer_expect.py
  tests/test_tlsfuzzer_messages.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
  tlsfuzzer/expect.py
  tlsfuzzer/messages.py
Labels: new test script
