Repository tlsfuzzer/tlsfuzzer, pull requests merged in 2019-12, with the labels that each got.

#501 Support for post-handshake KeyUpdate
  requirements.txt
  scripts/test-tls13-keyupdate-from-server.py
  scripts/test-tls13-keyupdate.py
  tests/test_tlsfuzzer_expect.py
  tests/test_tlsfuzzer_messages.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
  tlsfuzzer/expect.py
  tlsfuzzer/messages.py
Labels: enhancement, new test script

#617 Add fuzzing tests for AES-CCM
  scripts/test-aesccm.py
  scripts/test-tls13-symetric-ciphers.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#620 test-legacy-renegotiation.py: test non-empty initial renegotiation ext
  scripts/test-legacy-renegotiation.py
Labels: new test script

#624 test-encrypt-then-mac-renegotiation: -d for (EC)DHE
  scripts/test-encrypt-then-mac-renegotiation.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: maintenance

#627 extended-master-secret-extension: fix for FIPS mode
  scripts/test-extended-master-secret-extension.py
Labels: bug

#628 New pythons
  .travis.yml
  README.md
  build-requirements-3.2.txt
  build-requirements-3.3.txt
Labels: maintenance
