Repository tlsfuzzer/tlsfuzzer, pull requests merged in 2019-11, with the labels that each got.

#613 Remove python3.2 from travis
  .travis.yml
Labels: maintenance

#607 tls13-large-number-of-extensions: easier debugging
  scripts/test-tls13-large-number-of-extensions.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#611 TLS 1.3 CertificateRequest extensions
  scripts/test-tls13-certificate-request.py
  tests/test_tlsfuzzer_expect.py
  tests/test_tlsfuzzer_helpers.py
  tlsfuzzer/expect.py
  tlsfuzzer/helpers.py
Labels: enhancement, new test script

#614 Status request with CR
  scripts/test-conversation.py
  scripts/test-tls13-certificate-request.py
  tests/test_tlsfuzzer_helpers.py
  tests/test_tlsfuzzer_messages.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
  tlsfuzzer/helpers.py
  tlsfuzzer/messages.py
Labels: enhancement, new test script

#610 tls13-ecdsa-support: verify that all signature algs work
  requirements.txt
  tests/serverP384ECCert.pem
  tests/serverP384ECKey.pem
  tests/serverP521ECCert.pem
  tests/serverP521ECKey.pem
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: new test script

#612 Update sanity conversation and move implicit sha1 check to separate c…
  scripts/test-signature-algorithms.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: enhancement, new test script

#593 test-client-compatibility.py: -d for (EC)DHE for sanity
  scripts/test-client-compatibility.py
  tests/tlslite-ng-random-subset.json
  tests/tlslite-ng.json
Labels: enhancement
